#footer {
    height: 120px;
    margin-top: 20px;
    background-color:darkslategrey;
}

#footer .text-section {
    height: 85px;
    background-color: lightgrey;
    margin-left: 20px;
    margin-right: 20px;
}