span.App-login a {
    text-decoration: none;
}

span.App-login {
    padding-top: 1.25rem;
    padding-right: 1.25em;
}
  
.App-header {
    text-align: left;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}
  
.App-header h1 a {
    color: white;
}
  
.App-header h1 a {
    text-decoration: none;
}
  
.App-title.center {
    text-align: center;
}
  
.App-title.center a {
    color: white;
    text-decoration: none;
}

h1.App-title a.MenuLink:hover {
    color: lightgrey;
}
  
.App-header h4, .App-header h1 {
    display: inline-block;
    padding-left: 40px;
}
.App-header span {
    float: right;
}

.App-header span a {
    color: white;
}

.App-title {
    font-size: 1.5em;
}