#Books {
  text-align: center;
}
.books-conclusion {
  background-color: lemonchiffon;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.explainer-square {
  width: 180px;
  height: 60px;
  border: solid 2px black;
  display: inline-block;
}

.always-going-back-to-green {
  background-color: olivedrab;
  color: white;
}

.already-read-burlywood {
  background-color: burlywood;
}

.currently-reading-purple {
  background-color: purple;
  color: white;
}

.books-currently-reading {
  background-color: purple;
  border: none;
}

.books-going-back {
  background-color: olivedrab;
  border: none;
}

.books-already-read {
  background-color: burlywood;
  border: none;
}

.book-image {
    width: 220px;
    border: solid 20px khaki;
  }

  .box-books {
    background-color: green;
    border: forestgreen solid 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .book-description {
    background-color: white;
    border: black solid 1px;
    margin: 20px;
    width: 280px;
  }
  
  .book {
    background-image: url("./img/finals/groovy.jpeg");
    border: black solid 1px;
    margin: 20px;
    padding: 20px;
    width: 360px;
    display: inline-block;
  }
  
    