.login-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 22px;
}

input:hover {
    background-color: lightgoldenrodyellow;
}

.hover-div-user:hover label, .hover-div-pass:hover label {
    background-color: lightpink;
}

.signup-link {
    color: blue;
}
.input-label {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding: 5px;
}

input {
    margin: 0 15px;
    font-size: 1.2rem;
}

input#submit {
    padding: 8px;
}
input#submit:hover {
    background-color: lightsteelblue;
}

.donthaveaccount {
    text-align: center;
}