.ProjectDetails {
    text-align: left;
}

.all-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: inline-block;
    background-color: black;
    width: 400px;
    min-height: 400px; 
    vertical-align: text-top;
    margin-right: 25px;
}

.image-container img {
    width: 220px;
}

.details-container {
    vertical-align: text-top;
    display: inline-block;
    background-color: grey;
    width: 400px;
}