
#Projects {
    text-align: center;
  }

  .project-heading {
    font-weight: bold;
  }

.project-description {
    background-color: white;
    border: black solid 1px;
    margin: 20px;
    width: 280px;
  }
.big-box-projects {
    background-color: grey;
    border: black solid 1px;
    margin: 20px;
  }
  .this-website.box-project img {
    max-height: 285px;
    width: auto;
  }
.box-project a {
    color: black;
    text-decoration: none;
  }
  
  .box-project img {
    margin-top: 25px;
    width: 300px;
  }
  
  .box-project a:hover {
    color: blue;
  }
  
  .box-project a:visited {
    color: purple;
  }
  
  .box-project {
    background-color: white;
    border: black solid 2px;
    margin: 20px;
    padding: 20px;
    width: 360px;
    display: inline-block;
    max-height: 450px;
    vertical-align: text-top;
  }