
.box-resume {
    background-color: lightsalmon;
    border: orangered solid 1px;
    margin: 20px;
  }
  
  .resume {
    background-color: white;
    border: black solid 1px;
    margin: 20px;
  }
  
.resumes-container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .resume-single {
    max-width: 420px;
  }
  
  .resumes {
    background-color: white;
    width: 200px;
    max-height: 150px;
    display: inline-block;
    margin: 15px;
  }
  
  .pictureParagraph, .pictureParagraph a {
    display: inline-block;
  }
  
  .pictureParagraph {
    padding-top: 10px;
    vertical-align: bottom;
    background-color: white;
  }
  .pictureParagraph img{
    display: inline-block;
    max-height: 150px;
    max-width: 220px;
  }