extends layout
title=title
body
    block content
        h1= title
        p Welcome to #{title} 
    h2 Person List using Jade engine
    p First one is just returning persons I defined
    ul
        each item in personList
            li=item.PersonName