.SignUp-Form-Container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.SignUp-Form {
    width: 66%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.form-element {
    flex: 2;
    display: flex;
    margin: 12px;
}
.form-element label {
    flex: 1;
}

.form-element input {
    flex: 4;
}

input#submit {
    margin: 10px;
}